body {
  margin: 0;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; 
  height: 100vh;
  border: 1px solid tomato;
  display: flex;
  flex-direction: column;
}

header {
  border: 1px solid yellow;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

header > *:first-child {
  /* min-width: 230px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

header > *:last-child {
  padding: 1rem;
  flex-grow: 1;
}

@media (max-width: 650px) {
  header {
    flex-direction: column;
  }
  
  header > * {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
}

h1 { 
  font-size: 1.5rem;
  font-weight: 300; 
}


.header_div img {
  height: 80px;
}

.title {
  color:whitesmoke;
  font-size: 1.8rem;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none; 
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0.5rem;
}

main {
 flex-grow: 1;
}

a {
  color: #222;
  text-decoration: none;
}

a:hover {
  color: #3d3d3d; 
  outline: 0;
  text-decoration: underline;
}

footer {
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid teal;
}